::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.form {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  .input-field {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 14px -1px rgba(128, 126, 128, 1);
    -moz-box-shadow: 4px 4px 14px -1px rgba(128, 126, 128, 1);
    box-shadow: 4px 4px 14px -1px rgba(128, 126, 128, 1);
    &:focus {
      border: none;
    }
    &:hover {
      -webkit-box-shadow: 6px 6px 14px -1px rgba(128, 126, 128, 1);
      -moz-box-shadow: 6px 6px 14px -1px rgba(128, 126, 128, 1);
      box-shadow: 6px 6px 14px -1px rgba(128, 126, 128, 1);
    }
    margin-bottom: 10px;
  }
  .input-field::placeholder {
    padding-left: 5px;
    font-weight: 300;
    color: #938b8b;
  }
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 6px;
    &:hover {
      -webkit-box-shadow: 5px 5px 14px -1px rgba(128, 126, 128, 1);
      -moz-box-shadow: 5px 5px 14px -1px rgba(128, 126, 128, 1);
      box-shadow: 5px 5px 14px -1px rgba(128, 126, 128, 1);
    }
  }
  #loading-logo {
    width: 100px;
    height: 100px;
  }
  .summary {
    overflow: auto;
    height: 300px;
    text-align: left;
    .data {
      padding: 2px;
      font-weight: 200;
      font-size: 14px;
    }
  }
  label {
    text-align: left;
    width: 100%;
    .labs {
      font-weight: 500;
      color: 342828;
      font-size: 20.5px;
    }
  }
}
