@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&display=swap');
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}
