@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&display=swap');
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  background: rgb(211, 109, 255);
  background: linear-gradient(
    315deg,
    rgba(211, 109, 255, 1) 11%,
    rgba(255, 201, 84, 1) 67%,
    rgba(107, 255, 184, 1) 100%
  );
  background-repeat: no-repeat;
}
